<div class="container" ng-controller="MoolaCtrl as moola">
    <div class="jumbotron">
        <h1 align="center">Moola Application</h1>
        <br>
        <div id="song-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-lg text-center" placeholder="Add Song!" ng-model="formData.value">
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary btn-lg" ng-click="addSong()">Add Song</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="song-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="checkbox" ng-repeat="song in songs">
                <label>
                    <input type="checkbox" ng-click="moola.playSong(song)">
                    {{ song.value }}
                </label>
            </div>
        </div>
    </div>
</div>
