.container {
    padding-left: 15%;
}
#sidebar-wrapper {
    top: 64px;
    left: -15%;
    width: 15%;
    background-color: #2196f3;
    color: white;
    position: fixed;
    height: 100%;
    z-index: 1;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 50px;
}
.sidebar-nav li a {
  color: white;
  display: block;
  text-decoration: none;
}
.sidebar-nav li a:hover {
  background: rgba(255,255,255,0.25);
  color: white;
  text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
#sidebar-wrapper.sidebar-toggle {
  transition: all 0.3s ease-out;
  margin-left: -15%;
}
@media (min-width: 768px) {
  #sidebar-wrapper.sidebar-toggle {
    transition: 0s;
    left: 15%;
  }
}
.panel {
    display: none;
}
.circleplayer {
    position: relative;
    left: 60px;
    top: 30px;
    width: 200px;
}
.cp-container {
	position:relative;
	width:200px; /* 200 - (2 * 48) */
	height:200px;
	background:url("../img/bgr.jpg") 0 0 no-repeat;
	padding:48px;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.cp-container :focus {
	border:none;
	outline:0;
}
.cp-buffer-1,
.cp-buffer-2,
.cp-progress-1,
.cp-progress-2 {
	position:absolute;
	top:0;
	left:0;
	width:104px;
	height:104px;
	clip:rect(0px,52px,104px,0px);

	-moz-border-radius:52px;
	-webkit-border-radius:52px;
	border-radius:52px;
}
.cp-buffer-1,
.cp-buffer-2 {
	background:url("../img/buffer.png") 0 0 no-repeat;
}
/* FALLBACK for .progress
 * (24 steps starting from 1hr filled progress, Decrease second value by 104px for next step)
 * (It needs the container selector to work. Or use div)
 */
.cp-container .cp-fallback {
	background:url("../img/progress_sprite.jpg") no-repeat;
	background-position:0 104px; 
}
.cp-progress-1,
.cp-progress-2 {
	background:url("../img/progress.png") 0 0 no-repeat;
}
.cp-buffer-holder,
.cp-progress-holder,
.cp-circle-control {
	position:absolute;
	width:104px;
	height:104px;
} 
.cp-circle-control {
	cursor:pointer;
}
.cp-buffer-holder,
.cp-progress-holder {
	clip:rect(0px,104px,104px,52px);
	display:none;
}
/* This is needed when progress is greater than 50% or for fallback */
.cp-buffer-holder.cp-gt50,
.cp-progress-holder.cp-gt50,
.cp-progress-1.cp-fallback{
	clip:rect(auto, auto, auto, auto);
}
.cp-controls {
	margin:0;
	padding:26px;
}
.cp-controls li{
	list-style-type:none;
	display:block;

	/*IE Fix*/
	position:absolute;
}
.cp-controls li a{
	position:relative;
	display:block;
	width:50px;
	height:50px;
	text-indent:-9999px;
	z-index:1;
	cursor:pointer;
}
.cp-controls .cp-play {
	background:url("../img/controls.jpg") 0 0 no-repeat;
}
.cp-controls .cp-play:hover {
	background:url("../img/controls.jpg") -50px 0 no-repeat;
}
.cp-controls .cp-pause {
	background:url("../img/controls.jpg") 0 -50px no-repeat;
}
.cp-controls .cp-pause:hover {
	background:url("../img/controls.jpg") -50px -50px no-repeat;
}
.cp-jplayer {
	width:0;
	height:0;
}
