<!DOCTYPE html>
<html ng-app="moolaMVP">
  <head>
    <title><%=typeof title == 'undefined' ? 'Moola MVP App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--STYLES-->
    <link rel="stylesheet" href="/app/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <div ng-view></div>

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/app/bower_components/jquery/dist/jquery.js"></script>
    <script src="/app/bower_components/angular/angular.js"></script>
    <script src="/app/bower_components/angular-route/angular-route.js"></script>
    <script src="/app/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/js/moolaFront.js"></script>
    <script src="/js/service/SongService.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
